/* Base responsive images */
img {
  height: auto;
  max-width: 100%;
  vertical-align:middle;
}

/* Base link settings */

a {
  color: $base-link-color;
  
  &:hover,
  &:focus,
  &:active{
    color: $base-link-hover-color;
  }
}

html {
  color: $color;

  ::selection,
  ::-moz-selection {
    color: $base-selected-text-color;
    background: $base-selected-text-background-color;
  }
}

  