#wpcf7-f35-p36-o1{
  .contact{
    margin-bottom:$gutter/2;
    line-height:2em;
    display:block;
    
    &:last-of-type{
      margin-bottom:$gutter*2;
    }
    
    a{
      text-decoration:none;
      &:before{
        font-size:2em;
        color:$light-grey;
        margin-right:$gutter;
        vertical-align:middle;
      }
      
      &:hover{
        &:before{
          color:shade($light-grey, 20%);
        }
      }
    }

    &.telephone{
      a:before{
        @include icons($icon-phone);
      }
    }
    &.email{
      a:before{
        @include icons($icon-email);
      }
    }
  }
}