form{
  max-width:em(500px);
}

.required{
  font-size:0.8em;
  font-weight:bold;
  color:$purple;
}

label{
  font-weight:bold;
}

input,textarea{
  padding:$gutter;
  width:100%;
  background:$pale-grey;
  border:0;
  
  &:focus{
    outline:3px solid $purple;
  }
}

input[type="submit"]{
  min-width:em(200px);
  margin-top:$gutter;
  
  @include media($tablet){
    width:auto;
  }
}

