@font-face {
  font-family:"icons";
  src:url("../fonts/icons.eot?509da12463bbc634dedcf8a6fcc335cc");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
		url("../fonts/icons.woff2?509da12463bbc634dedcf8a6fcc335cc") format("woff2"),
		url("../fonts/icons.woff?509da12463bbc634dedcf8a6fcc335cc") format("woff"),
		url("../fonts/icons.ttf?509da12463bbc634dedcf8a6fcc335cc") format("truetype"),
		url("../fonts/icons.svg?509da12463bbc634dedcf8a6fcc335cc#icons") format("svg");
  font-weight:normal;
  font-style:normal;
}

@mixin icons($icon) {
  font-family: "icons";
  -webkit-font-smoothing: antialiased;
  content: $icon;
}

$icon-close: '\f101';

$icon-email: '\f102';

$icon-facebook: '\f103';

$icon-left-round-angle-arrow: '\f104';

$icon-list-menu: '\f105';

$icon-location: '\f106';

$icon-lotus: '\f107';

$icon-om: '\f108';

$icon-phone: '\f109';

$icon-pose: '\f10a';

$icon-quote-start: '\f10b';

$icon-tick: '\f10c';

$icon-triskel: '\f10d';

$icon-twitter-logo-silhouette: '\f10e';
