.pre-footer .main-site-navigation a:hover:before{
    -webkit-animation: color_change 3s infinite alternate;
    -moz-animation: color_change 3s infinite alternate;  
    -ms-animation: color_change 3s infinite alternate;  
    -o-animation: color_change 3s infinite alternate;  
    animation: color_change 3s infinite alternate;
    transition-timing-function:ease;
    
}

pre-footer .main-site-navigation a:before{
    background-color: black;
    color:purple;
}

@-webkit-keyframes color_change {
		  0% {color: purple; 
                      filter:hue-rotate(0deg);}
		  50% {color: pink; 
                       filter:hue-rotate(360deg);}

		}
@-moz-keyframes color_change {
		  0% {color: purple; 
                      filter:hue-rotate(0deg);}
		  50% {color: pink; 
                       filter:hue-rotate(360deg);}
		}
@-ms-keyframes color_change {
		  0% {color: purple; 
                      filter:hue-rotate(0deg);}
		  50% {color: pink; 
                       filter:hue-rotate(360deg);}
		}
@-o-keyframes color_change {
		  0% {color: purple; 
                      filter:hue-rotate(0deg);}
		  50% {color: pink; 
                       filter:hue-rotate(360deg);}
		}
@keyframes color_change {
		  0% {color: purple; 
                      filter:hue-rotate(0deg);}
		  50% {color: pink; 
                       filter:hue-rotate(360deg);}
		}
      