/*h1.entry-title{
  color:$near-black;
  letter-spacing:0.1em;
  font-size:5em;
  text-align:center;
  font-weight:normal;
  
  @include media($mobile){
    font-size:3em;
  }
}*/


.entry-title{
    margin-bottom: auto;
}

