footer{
  margin-top:$gutter*4;
  text-align:center;
  background:$pale-grey;
  
  & > .container{
    padding:$gutter*5 $gutter*2;
  }
  
  h3{
    font-family:$main-heading-font-family;
    font-size:1.2em;
    letter-spacing:8px;
    text-transform:uppercase;
    border-bottom:1px solid $grey;
    display:inline-block;
    padding-bottom:$gutter/2;
    margin-bottom:$gutter/2;
  }
  
  a{
    display:block;
    margin-bottom:$gutter/4;
    text-decoration:none;
    @include media($mobile){
      font-size:0.8em;
    }
  }
  
  
}