header.site-header{
  @include linear-gradient(-45deg, $purple, $black);
  margin-bottom:35px;
  
  @include media($tablet){
    margin-bottom:45px;
    @include linear-gradient(-45deg, $black, $purple);
  }
  
  .container{
    position:relative;
    padding-left:158px;
    min-height:74px;
    
    @include media($tablet){
      padding-left:148px;
    }
  }
  
  .site-title{
    position:absolute;
    bottom:0;
    left:0;
    
    @include media($tablet){
      left:$gutter/2;
      bottom:0 - $gutter;
    }
    
 
    h1{
      margin:0;
    }
    
    a{
      @include sprite(site-logo);
      display:block;
      text-indent:-9999px;
      overflow:hidden;
      background-color:$black;

      &:hover{
        background-color:shade($black, 20%);
      }
      
      @include media($tablet){
        @include sprite(site-logo-desktop);
        border-radius:50%;
      }
    }
  }
  
  .site-description{
    display:none;
    padding:$gutter*2;
    font-size:1.2em;
    letter-spacing:2px;
    line-height:34px;
    color:transparentize(white, 0.3);
    
    @include media($tablet){
      display:block;
    }
  }
  
  #primary-nav{
    .menu-button{
      position:absolute;
      right:0;
      top:0;
    }
  }
}