$icon-size: 50px;
$home-icon-size: 100px;

.main-site-navigation{
  text-align:center;
  padding:0;
  margin:0;
  @include transition(all 0.5s ease-in-out);

  li{
    list-style:none;
  }

  a{
    color:$near-black;
    display:block;
    padding:$gutter/2 $gutter;
    text-decoration:none;
    font-size:1.2em;
    @include transition(all 0.2s ease-in-out);

    @include media($tablet){
      padding:$gutter;
    }

    &:before{
      color:$near-black;
      width:$icon-size;
      height:$icon-size;
      line-height:$icon-size - 3px;
      border:3px solid $teal;
      border-radius:50%;
      display:block;
      margin:auto;
      @include icons($icon-triskel);
      font-size:$icon-size/2;
      @include transition(all 0.2s ease-in-out);
    }

    &:hover,&:focus,&.current-menu-item{
      &:before{
        border-color:$teal;
        color:$teal;
      }
    }
  }
  a[href$="/yoga-in-the-workplace"]:before{
    @include icons($icon-pose);
  }
  a[href$="/general-yoga"]:before{
    @include icons($icon-om);
  }
  a[href$="/contact"]:before{
    @include icons($icon-lotus);
  }

  .close-menu{
    background:shade($purple,60%);
    margin-bottom:$gutter;
    text-align:center;
    height:74px;
    line-height:$icon-size;

    @include media($tablet){
      height:114px;
      line-height:initial;
    }
    
    &:hover,&:focus{
      color:$teal;
    }

    &:before{
      color:white;
      display:inline-block;
      margin:0 $gutter/2 0 0;
      vertical-align:top;
      @include icons($icon-close);
      font-size:1em;

      @include media($tablet){
        display:block;
        margin:auto;
      }
    }
  }

  ul{
    padding:0;
    margin:0;
    list-style:none;

    li{
      display:block;
    }
  }
}

header{
  .menu-button{
    background:transparent;
    color:white;
    border:0;
    padding:0 $gutter;
    height:74px;
    text-transform:uppercase;
    letter-spacing:2px;
    
    &:after{
      height:40px;
      width:40px;
      line-height:39px;
      border-radius:50%;
      border:2px solid white;
      display:inline-block;
      margin-left:$gutter/2;
      @include icons($icon-list-menu);
    }
    
    &:focus{
      outline:0;
    }
    
    @include media($tablet){
      height:114px;
    }
  }
  
  .main-site-navigation{
    position:fixed;
    right:-400px;
    top:0;
    height:100%;
    width:em(400px);
    max-width:100%;
    background:shade($purple, 70%);
    color:white;
    z-index:1;
    max-width:80%;
    overflow-y:auto;
    
    a{
      color:white;
      
      @include media($mobile){
        text-align:left;
        font-size:1em;
        padding:$gutter/2;
      }
      
      &:before{
        color:white;
        @include media($tablet){
          border-color:white;
        }
        
        @include media($mobile){
          text-align:center;
          display:inline-block;
          margin:0 $gutter/2 0 0;
        }
      }
    }
  }
}

.pre-footer{
  .main-site-navigation{
    max-width:em(800px);
    margin:$gutter auto;
    
    li{
      width:49%;
      display:inline-block;
      vertical-align:top;
      
      @include media($tablet){
        width:24%;
      }
    }
    
    @mixin active-status{
      color:$purple;
        
      &:before{
        color:white;
        background:$purple;
        border-color:$purple;
      }
    }
    
    a{
      height:$home-icon-size;
      width:$home-icon-size;
      color:transparent;
      
      @include media($mobile){
        font-size:1em;
      }
      
      &:hover,&:focus{
        @include active-status;
        color:transparent;
      }
      &:before{
        height:$home-icon-size;
        width:$home-icon-size;
        font-size:$home-icon-size /2;
        line-height:$home-icon-size - 3px;
        margin-bottom:$gutter/2;
        text-indent:0px;
        display:block;
        color:$black;
      }
      
    }
    
    .current-menu-item a{
      @include active-status;
    }
  }
}

body{
  max-width:100%;
  @include transition(max-width 0.5s ease-in-out);
  
  &.menu-open{
    @include media($mobile){
      overflow:hidden;
    }
    
    @media(min-width:em(1000px)){
      max-width:calc(100% - 400px);
    }


    #primary-nav .main-site-navigation{
      right:0;
    }
  }
  
  &.admin-bar{
    #primary-nav .main-site-navigation{
      top:32px;
    }
  }
}