/*variables here*/



/*--------------*/

.entry-title{
    display:none
}

div[itemprop="articleBody"]{
    display:block;
    width:50%;
    height:50%;
    padding:auto;
    align:center;
    text-align:center;
    }

    div[itemprop="articleBody"] p {
        font-size:20px; 
    }
    
    div[itemprop="articleBody"] h3 {
        font-size:40px;
    }
    
.entry-meta{
    display:none;
    }    
    
.entry-content h3{
    display:none;
    }