@mixin button($button-bg: $purple ) {
    background:$button-bg;
    border:0;
    border-radius:0;
    box-shadow:none;
    clear:both;
    //font-family:$main-heading-font-family;
    font-weight:normal;
    margin: 10px 0;
    padding: $gutter;
    transition: all 0.2s ease-in-out;
    letter-spacing:5px;
    color:white;

    &:focus, &:hover {
      background:shade( $button-bg, 20% );
    }
}

.button, input[type="submit"], input[type="button"], input[type="reset"]{
  @include button();
}