@import 'neat-helpers'; // or '../neat/neat-helpers' when not in Rails

$small-mobile: new-breakpoint(max-width $small-mobile-px+px 6);

$mobile: new-breakpoint(max-width $mobile-px+px 6);

$tablet: new-breakpoint(min-width $mobile-px+1px $grid-columns);

$wide-desktop: new-breakpoint(min-width $max-width-px + px $grid-columns);
