/**
 * Typography
 */


// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
//    http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
//    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');

html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-font-smoothing: antialiased;
}

// Addresses font-family inconsistency between 'textarea' and other form elements.
html,
button,
input,
select,
textarea {
  font-family: $base-font-family;
}


/* Line-heights */
body{
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,h2{
  font-family:$main-heading-font-family;
  color:$primary_col;
}

h3,h4,h5,h6{
  font-family:$sub-heading-font-family;
}

h1 {
  margin: $h1_margin;
  padding: $h1_padding;
  font-size: $h1_font_size;
  font-weight: $h1_font_weight;
  line-height: 1.2em;
  color:$near-black;
  letter-spacing:0.1em;
  text-align:center;
  
  @include media($mobile){
    font-size: $h1_font_size * 0.4;
  }
}

h2 {
  margin: $h2_margin;
  padding: $h2_padding;
  font-size: $h2_font_size;
  font-weight: $h2_font_weight;
  line-height: 1.4em;
}

h3 {
  margin: $h3_margin;
  padding: $h3_padding;
  font-size: $h3_font_size;
  font-weight: $h3_font_weight;
  line-height: 1.4em;
}

/* Close gap for sub headings after headings */
h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: -0.5em;
}

h4 {
  margin: $h4_margin;
  padding: $h4_padding;
  font-size: $h4_font_size;
  font-weight: $h4_font_weight;
  line-height: 1.4em;
}

h5 {
  margin: $h5_margin;
  padding: $h5_padding;
  font-size: $h5_font_size;
  line-height: 1.4em;
}

h6 {
  margin: $h6_margin;
  padding: $h6_padding;
  font-size: $h6_font_size;
  line-height: 1.4em;
}

blockquote{
  border-left:5px solid $purple;
  padding-left:$gutter;
  margin-left:$gutter;
}