$legacy_support_for_ie: false;
$normalize_headings: true;

/* Colors */
$near-black: #3c3535;
$dark-grey: #5c5c5c;
$grey: #ccc;
$mid-grey: #93969c;
$off-grey: #c5c3ce;
$light-grey: #cecece;
$pale-grey: #f2f3f2;
$black: #000000;

$teal: #50cda1;
$teal-pale:tint($teal,40%);
$purple: #5a448e;
$pink:  #e50c83;
$blue: #418da0;
$green: #acb52b;

$primary_col: $teal;
$secondary_col: $purple;
$base-background-color: #fff;
$color: $near-black;
$base-selected-text-color: invert($color);
$base-selected-text-background-color: $color;
$base-link-color: $blue;
$base-link-visited-color: $base-link-color;
$base-link-hover-color: $teal;//tint($base-link-color, 40%);

/* Font stuff */

$base-font-family: 'Open Sans', sans-serif;
$main-heading-font-family: 'Poiret One', cursive;
$sub-heading-font-family: 'Open Sans', sans-serif;
$normalized_font_family: sans-serif;
$base-font-size: 16px;
$em-base: $base-font-size;
$base-line-height: 1.8em;

$h1_font_size: 5em;
$h2_font_size: em(27px);
$h3_font_size: em(24px);
$h4_font_size: 1em;
$h5_font_size: 0.83em;
$h6_font_size: 0.75em;

$h1_margin: 0.5em 0 0.67em 0;
$h2_margin: 0 0 0.83em 0;
$h3_margin: 0 0 1em 0;
$h4_margin: 0 0 1.33em 0;
$h5_margin: 0 0 1.67em 0;
$h6_margin: 0 0 2.33em 0;

$h1_padding: 0;
$h2_padding: 0;
$h3_padding: 0;
$h4_padding: 0;
$h5_padding: 0;
$h6_padding: 0;

$h1_font_weight: 400;
$h2_font_weight: 700;
$h3_font_weight: 400;
$h4_font_weight: 400;
$h5_font_weight: 400;
$h6_font_weight: 400;

// Grid
$calc_columns: 12;
$calc_gutter: 20px;
$calc_width: 1080px;

$gutter: ($calc_gutter / $base-font-size) + 0em;
$grid-padding: $gutter/2;
$max-width: ($calc_width / $base-font-size) + 0em;
$column: ($max-width - ($gutter * ($calc_columns - 1)) - ($grid-padding * 2)) / $calc_columns;
$column-width: $column;
$column-gutter: $gutter;



// Set to false if you'd like to remove the responsiveness.
$responsive: true;

// Setup the column, grid, and gutter amounts.
$column: 60px;

$gutter: 20px;

$grid-columns: 12;

$sidebar-columns: 5;
// We set the max width of the page using the px to em function in Bourbon.
// the first value is the pixel value of the width and the second is the base font size of your theme.
// In this instance we want the max width to be 1170px and on Line 6 of style.sass we have reset the base
// font size to 16px so the first value would be 1170 and the second 16
// ex. em(1088, 13)
$max-width-px: 1170;
$max-width: em($max-width-px);

//$tablet-px: 980;
$tablet-width-px: 940;
$tablet-width: em($tablet-width-px);

$mobile-px: 732;
$mobile-width: em($mobile-px);

$small-mobile-px: 380;
$small-mobile-width: em($mobile-px);

$visual-grid: false; 
$visual-grid-index: front;

//Colors
$text-color: #868686;

$z-indexed-items: '';