.homepage-quote{
  min-height:70vw;
  max-width:em(800px);
  margin:auto;
  position:relative;
  
  @include media($tablet){
    padding-bottom:0;
    min-height:em(610px);
    background-size:initial;
  }
  
  .sam-photo{
    height:100%;
    width:60%;
    background-image: url('../images/optimized/background-sam.png');
    background-repeat:no-repeat;
    background-position:right center;
    background-size:contain;
    text-indent:-9999px;
    overflow:hidden;
    position:absolute;
    top:0;
    right:0;
  }
  
  blockquote{
    position:relative;
    padding:0;
    margin:0;
    border:0;
    font-family:$main-heading-font-family;
    font-size:2em;
    line-height:1;
    max-width:55%;
    padding:em(20px) 0 em(20px) $gutter;
    
    &:before{
      display:block;
      position:absolute;
      top:0;
      left:0;
      @include icons($icon-quote-start);
      color:$pale-grey;
    }
    
    &:after{
      content:'"';
      display:block;
      position:absolute;
      bottom:0;
      right:0;
      @include icons($icon-quote-start);
      color:$pale-grey;
      @include transform(rotate(180deg));
    }
    
    @include media($tablet){
      width:calc(100% - 305px);
      font-size:4em;
    }
  }
}