.sticky {
  background: $grey;
}

.gallery-caption {
    list-style: none;
}

.bypostauthor {
    list-style: none;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.aligncenter {
    @include clearfix;
    float: none;
    margin-top: .5em;
    @include margin-right(auto!important);
    margin-bottom: .5em;
    @include margin-left(auto!important);
}

.alignleft {
    display: inline;
    @include float(left);
    @include margin-right(1.5em);
}

.alignright {
    display: inline;
    @include float(right);
    @include margin-left(1.5em);
}

.sticky{
    @include float(left);
    padding: 20px;
}

.gallery-caption {}
.bypostauthor {}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    border: 1px solid $grey;
    clear: both;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: .8075em 0;
}

.site-main .gallery {
    margin-bottom: 1.5em;
}

.gallery-caption {
}

.site-main .gallery a img {
    border: 0;
    height: auto;
    max-width: 90%;
}

.site-main .gallery dd {
    margin: 0;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
    max-width: 100%;
}

/* =Comments
----------------------------------------------- */
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
}

/* =Infinite Scroll
----------------------------------------------- */

// Globally hidden elements when Infinite Scroll is supported and in use.
.infinite-scroll .paging-navigation, // Older / Newer Posts Navigation (always hidden)
.infinite-scroll.neverending .site-footer { // Theme Footer (when set to scrolling)
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
    display: block;
}

/* =Galleries
----------------------------------------------- */
.gallery {
	margin-bottom: 1.6em;
}

.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-icon img {
	margin: 0 auto;
}

.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}
