/* =Structure/Scaffolding
-------------------------------------------------------------- */
html {

}
body {
  background-color: $base-background-color;
  color: $color;
  font-family: $base-font-family;
  word-break: break-word;
}

.container {
	 @include outer-container;

}
.wrap {}

#main {
	position: relative;
	z-index: 0;
}

#primary {
	@include clearfix;
	margin: 0 auto;
	width: 100%;
	ol {
		li {
			margin:0;
		}
	}
	ul {
		list-style: none;
	}
}
#secondary {
	@include media($mobile) {
		@include span-columns( 2 );
		padding: 30px;
	}
	@include media($tablet) {
		@include span-columns( 2 );
		@include omega( block );
	}
	margin: 20px auto;
	padding: 0 30px 0 0;
	width: 100%;
}
